<div class="row">
  <div class="col">
    <ul class="nav nav-pills nav-fill">
      <h1><li class="nav-item my-list active"><a routerLink="" class="nav-link active">My Site</a></li></h1>
      <li class="nav-item my-list active"><a routerLink="" class="nav-link active">Strona glowna</a></li>
      <li class="nav-item my-list active"><a routerLink="blog" class="nav-link active">Blog</a></li>
      <li class="nav-item my-list active"><a routerLink="quiz" class="nav-link active">Quiz</a></li>
      <li class="nav-item my-list active"><a routerLink="contact" class="nav-link active">Kontakt</a></li>
    </ul>
  </div>
</div>
