<div class="row">
  <div class="col-sm-3">
    Example
  </div>
  <div class="col-sm-9">
    <div class="myProgress">
      <div id="myBar" class="w3-container w3-green w3-center" style="width:10%">10%</div>
    </div>
    <div class="quiz-container">
      <div id="quiz"></div>
    </div>
    <button id="previous" onclick="moveBack()" class="btn btn-primary">Previous Question</button>
    <button id="next" onclick="move()" class="btn btn-primary">Next Question</button>
    <button id="submit" class="btn btn-primary">Submit Quiz</button>
    <div id="results"></div>
    <div id="scores"></div>
  </div>
</div>
